body {
  font-family: "Roboto", sans-serif !important;
  line-height: 1.8;
}

.App {
  text-align: center;
}

.App-item {
  display: block;
  margin: 0 auto;
}


/* Header */
.top-space {
  padding-top: 80px;
}

/* Footer */
.footer {
  padding-top: 80px;
  font-size: 14px;
  color: #252525;
  font-family: Arial;
  font-style: italic;
}

/* Sidebar */
.sidebar-position {
  float: center;
}

.sidebar {
  flex: 0 0 300px;
}

.fixed {
  position: fixed;
}

.profile-image {
  width: 250px;
  place-items: center;
}

.profile-links {
  padding-right: 20px;
}

/* Content */
@media screen and (max-width: 768px) {
  .small-device {
    padding: 20px 0 0 0;
    flex-direction: column;
    text-align: center;
  }

  .small-hidden {
    display: none; 
  }
}

@media screen and (min-width: 769px) {
  .big-device {
      padding: 70px 0 0 20px;
      text-align: start;
  }
}

.space {
  padding: 10px;
  margin: 0;
}

.add-space {
  margin-bottom: 16px;
}

.line {
  border: 1px solid #b1a4a9;
}

/* About */
.profile-title {
  font-size: 40px;
  font-weight: bold;
  font-family: Playfair Display;
  color: #983961;
  margin-bottom: 10px;
  padding: 20px 0;
}

.profile-desc {
  font-size: 14px;
  font-family: Arial;
  color: #252525;
  text-align: justify;
  line-height: 1.5;
}

 /* Timeline */
.section-title {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  font-family: Playfair Display;
  color: #983961;
}

.work-duration {
  font-size: 14px;
  color: #252525;
  margin: 0;
  font-weight: bold;
}

.work-role {
  font-size: 17px;
  font-weight: bold;
  color: #983961;
  margin: 0;
}

.work-location {
  text-decoration: none;
  font-style: italic;
  font-size: 14px;
  margin: 0;
}

 .content__content {
   font-size: 15Fpx;
   font-family: Arial;
   color: #252525;
   margin-top: 0;
   text-align: justify;
   word-spacing: 3px;
   line-height: 1.5;
   padding-bottom: 8px;
 }