body {
  font-family: "Roboto", sans-serif !important;
  line-height: 1.8;
}

.App {
  text-align: center;
}

.footer {
  padding-top: 80px;
  font-size: 14px;
  color: #252525;
  font-family: Arial;
  font-style: italic;
}

.logo {
  font-size: 25px;
  font-family: Playfair Display;
  font-weight: bold;
  background: url("./images/logo.png") no-repeat;
  padding-left: 45px;
  background-position: left center;
}

.header .logo {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}

.header {
  padding-top: 30px;
  background-color: transparent;
}

.menu {
  justify-content: end;
}

.current{
  font-weight: bold !important;
}

.menu-link {
  color: #000000 !important;
  padding: 0 15px 0 15px !important;
  font-size: 15px;
}

.menu-link a:hover {
  text-decoration: underline;
}

.profile-image {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .small-device {
    padding: 20px 0 0 0;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .profile {
      padding: 70px 0 0 20px;
      text-align: start;
    }
}

.profile-title {
  font-size: 40px;
  font-weight: bold;
  font-family: Playfair Display;
  color: #983961;
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile_desc {
  font-size: 15px;
  font-family: Arial;
  color: #252525;
  margin-top: 0;
  margin-bottom: 10px;
}

.profile-link {
  padding-right: 20px;
}

.section-top {
  padding-top: 20px;
}